{% extends 'base.html.twig' %}


{% block body %}
    <p><strong>{{ message.content }}</strong></p>
    <p>Created at : {{ message.createdAt|date("d/m/Y") }}</p>

    <a href="{{ path('messages') }}">Retour</a>
    <hr>

    {{ form_start(formComment) }}
    {{ form_widget(formComment.content) }}
    <button type="submit">Send</button>
    {{ form_end(formComment) }}



        {% for comment in message.comments %}

            <p>At : {{ comment.createdAt|date("m/d") }}</p>
            <p><strong>{{ comment.content }}</strong></p>

        {% endfor %}

{% endblock %}